/* #region Basic styles */

body {
  background-color: #fff;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}
/* #endregion */

/* #region Common styles */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* #endregion */

/* #region Heder */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-list,
.contacts {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-color-logo {
  color: #2e2f42;
}

.burger-btn {
  display: block;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

    .header-nav {
      display: flex;
      align-items: center;
    }

  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  
  .header-nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
      
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .active {
    position: relative;
  }
  
  .active::after {
    content: "";
    position: absolute;
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
    left: 0;
    bottom: -1px;
  }
  
  .contacts {
    font-style: normal;
    display: block;
  }
    
  .header-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
    
    .header-nav-link:hover,
    .header-nav-link:focus,
    .header-contacts-link:hover,
    .header-contacts-link:focus,
        .active {
      color: #404bbf;
    }
}


@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .header-contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .header-contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* #endregion */

/* #region Mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-svg-close {
  fill: #2E2F42;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;}

.mobile-nav-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.mobile-nav-link {}

.mobile-nav-accent {
  color: #404bbf;
}



.mobile-contacts {
  
}

.mobile-contacts-list {
  display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-contacts-item {
  font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-contacts-accent {
  color: #404bbf;
}

.mobile-contacts-link {}




.mobile-social {
  margin-top: 48px;
}

.mobile-social-list {
  display: flex;
    justify-content: center;
    gap: 40px;
}

.mobile-social-item {
  width: 40px;
    height: 40px;
}

.mobile-social-link {
  display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-link:hover,
.mobile-social-link:focus {
  background-color: #404bbf;
}

.mobile-social-icons {
  fill: #f4f4fd;
}





@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* #endregion */

/* #region section Hero */

.hero {
  background-color: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/people-office1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      max-width: 320px;
      margin: 0 auto;
      
}

.hero-title {
  display: flex;
    align-items: center;
    max-width: 216px;
    margin: 0 auto;
    margin-bottom: 72px;

    font-weight: 700;
      font-size: 36px;
      line-height: 107%;
      letter-spacing: 0.02em;
      text-align: center;
      color: #fff;
}

.hero-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;

  padding: 16px 32px;
    border: none;
    border-radius: 4px;

    background-color: #4d5ae5;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.04em;
      color: #fff;
      cursor: pointer;
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}


@media screen and (min-width: 768px) {
  .hero {
    padding: 112px 0;
    max-width: 768px;
  }

    .hero-title {
      max-width: 496px;
      margin-bottom: 36px;

      font-size: 56px;
    }

}


@media screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
    max-width: 1440px;
  }

    .hero-title {
      margin-bottom: 48px;
    }

}

/* #endregion */

/* #region section Strengths */

.strengths-list {
  display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.strengths-title {
  display: flex;
  align-items: center;
  justify-content: center;
  
    margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.strengths-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (max-width: 1158px) {
  .strengths-icons {
    display: none;
  }
}

@media screen and (max-width: 1158px) {
  .section {
    padding: 96px 0;
  }
}





@media screen and (min-width: 768px) {
    .strengths-list {
      gap: 24px;
    }
    
    .strengths-item {
        width: calc((100% - 24px) / 2);
    }

    .strengths-title {
        display: block;
    }
}






@media screen and (min-width: 1158px) {
  
  .section {
      padding: 120px 0;
    }
  
    .strengths-list {
      display: flex;
      gap: 24px;
    }
  
  .strengths-item {
      width: calc((100% - 72px) / 4);
    }

    .strengths-icons {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 112px;
      padding: 24px 100px;
      background-color: #f4f4fd;
      border: 1px solid #8e8f99;
      border-radius: 4px;
      margin-bottom: 8px;
    }
}

/* #endregion */

/* #region section Our team */

.team {
  background-color: #f4f4fd;
  
}

.team-title {
margin-bottom: 72px;

font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-text-container {
  padding: 32px 0;
}

.team-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.team-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}

.team-social-icons {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .team-list {
    gap: 64px 24px;
  }
}


@media screen and (min-width: 1158px) {
  
  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  
}

/* #endregion */

/* #region Our Portfolio */

.portfolio-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.portfolio-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  height: 300px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item:hover .portfolio-cover-text {
  transform: translateY(0);
}

.portfolio-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
    .portfolio-list {
      gap: 72px 24px;
        
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}


@media screen and (min-width: 1158px) {
    .portfolio-list {
      gap: 48px 24px;
    }
}

@media screen and (min-width: 1158px) {
  .portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
  }
}

/* #endregion */

/* #region Footer */




/* #endregion */

